.hlx/*
coverage/*
logs/*
node_modules/*

helix-importer-ui
.DS_Store
.env
*.bak
.idea
tools/target/config.json
migration-work/navigation-validation/
migration-work/navigation-validation-archive-2026-08-06/
migration-work/footer-validation/
